@page
@inject IConfiguration Configuration
@model MajesticRealtors.Pages.HousesModel
@{
    ViewData["Title"] = "Houses";
    var TheHousesList = (List<HouseData.Houses>)ViewData["UserHousesList"];
    var googleMapsApiKey = Configuration["GoogleMapsApiKey"];
}

<div id="margindiv">
    </br></br></br></br>
    <div class="container">
        <div>
            <form method="get">
                <div class="input-group row">
                    <label for="SearchItem" class="control-label"> <strong>Housing Inventories</strong></label>
                    </br></br>
                    <div class="col-2 font-weight-bold">Select Community Area</div>
                        <select class="form-select col" aria-label="Large select example" name="query" asp-for="@Model.SearchArea" asp-items="ViewBag.SearchArea"></select>
                    <div class="col-2">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            </form>
            @if (string.IsNullOrWhiteSpace(Model.SearchArea))
            {
                <div class="alert alert-light"> Please choose a community area.</div>
            }
            else if (TheHousesList == null)
            {
                <div class="alert alert-info"> Data for houses in this @Model.SearchArea community area  not found.</div>
            }
            else

            {
                <div>
                    <br></br>
                    <div class="row">
                        <div class="col-3">
                            <select class="form-control" name="state" id="maxRows">


                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="70">70</option>
                                <option value="100">100</option>
                                <option value="5000">Show ALL Rows</option>
                            </select>
                        </div>
                        <div class="col"></div>
                        <div class="tb_search col-3">
                            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search Houses" class="form-control">
                        </div>
                    </div>
                    <table class="table table-bordered table-hover" id="table-id">
                        <thead class="thead-dark">
                            <tr id="table-header">
                                <th>Property Name</th>
                                <th>Address</th>
                                <th>Community Area</th>
                                <th>Community No.</th>
                                <th>Units</th>
                                <th>Phone_Number</th>
                                <th>Management Company</th>
                            </tr>
                        </thead>
                        <tbody>
                        @{
                            foreach (HouseData.Houses house in TheHousesList)
                            {
                                <tr data-address="@house.Address">
                                    <td>@house.PropertyName</td>
                                    <td>@house.Address</td>
                                    <td>@house.CommunityArea</td>
                                    <td> <a asp-page="./Lands" asp-route-query="@house.CommunityAreaNumber">@house.CommunityAreaNumber</a> </td>
                                    <td>@house.Units</td>
                                    <td>@house.PhoneNumber </td>
                                    <td>@house.ManagementCompany</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                    <div class='pagination-container'>
                        <nav>
                            <ul class="pagination">
                                <!--	Here the JS Function Will Add the Rows -->
                            </ul>
                        </nav>
                    </div>
                    <div class="rows_count">Showing 1 to 10 of</div>

                    <div class="center-container">
                        <br></br>
                        <div id="map" style="height: 400px; margin-top: 20px;"></div>
                        <br></br>
                        <button id="navigate-btn" class="btn btn-primary">Navigate to Location</button>
                    </div>


                </div>
            }

        </div>
    </div>
</div>
<script src="./js/scripts.js" asp-append-version="true"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=@googleMapsApiKey&callback=initMap" async defer></script>
