@page
@inject IConfiguration Configuration
@model MajesticRealtors.Pages.LandsModel
@{
    ViewData["Title"] = "LandInventory";
    var TheLandsList = (List<LandData.Lands>)ViewData["UserLandsList"];
    var googleMapsApiKey = Configuration["GoogleMapsApiKey"];
}

<div id="margindiv">
    </br></br></br></br></br>
    <div class="container">

        <form method="get">
            <div class="form-group row">
                <label for="SearchItem" style="color: #ffc800" class="control-label"> <strong>Land Inventories</strong></label>
                </br></br>
                <div style="color: #ffc800" class="col-2 font-weight-bold">Enter Community Number</div>
                <input id="SearchItem" value="@Model.CommunityNumberItem" name="query" class="col form-control" type="text" />
                <div class="col-2">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </form>

        @if (string.IsNullOrWhiteSpace(Model.CommunityNumberItem))
        {

        }
        else if (TheLandsList == null)
        {
            <div class="alert alert-info"> Data for Lands in this Community area number [@Model.CommunityNumberItem] not found.</div>
        }
        else
        {
            <div>
                <br></br>
                <div class="row">
                    <div class="col-3">
                        <select class="form-control" name="state" id="maxRows">


                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="70">70</option>
                            <option value="100">100</option>
                            <option value="5000">Show ALL Rows</option>
                        </select>
                    </div>
                    <div class="col"></div>
                    <div class="tb_search col-3">
                        <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search Lands" class="form-control">
                    </div>
                </div>
                <table class="table table-bordered table-hover" id="table-id">
                    <thead class="thead-dark">
                    <tr id="table-header">
                        <th>Property Status</th>
                        <th>Managing Org</th>
                        <th>Community Area</th>
                        <th>Address</th>
                        <th>ZipCode</th>
                        <th>Area Available</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                    </thead>
                    @{
                        foreach (LandData.Lands land in TheLandsList)
                        {
                            <tr data-address="@land.Address">
                                <td>@land.PropertyStatus</td>
                                <td>@land.ManagingOrganization</td>
                                <td>@land.CommunityAreaName</td>
                                <td>@land.Address</td>
                                <td>@land.ZipCode </td>
                                <td>@land.SqFt </td>
                                <td>@land.Latitude</td>
                                <td>@land.Longitude</td>
                            </tr>
                        }
                    }
                </table>

                <div class='pagination-container'>
                    <nav>
                        <ul class="pagination">
                            <!--	Here the JS Function Will Add the Rows -->
                        </ul>
                    </nav>
                </div>
                <div class="rows_count">Showing 1 to 10 of</div>

                <div class="center-container">
                    <br></br>
                    <div id="map" style="height: 400px; margin-top: 20px;"></div>
                    <br></br>
                    <button id="navigate-btn" class="btn btn-primary">Navigate to Location</button>
                </div>
            </div>

            <script src="https://maps.googleapis.com/maps/api/js?key=@googleMapsApiKey&callback=initMap" async defer></script>
        }
    </div>
</div>
