@page
@model MajesticRealtors.Pages.LandsModel
@{
    ViewData["Title"] = "LandInventory";
    var TheLandsList = (List<LandData.Lands>)ViewData["UserLandsList"];
}

<div>
    </br></br></br></br></br>
    <link rel="stylesheet" href="/css/StyleSheet.css" type="text/css" />
    <div class="container">

        <form method="get">
            <div class="form-group row">
                <label for="SearchItem" style="color: #ffc800" class="control-label"> <strong>Land Inventories</strong></label>
                </br></br>
                <div style="color: #ffc800" class="col-2 font-weight-bold">Enter Community Number</div>
                <input id="SearchItem" value="@Model.CommunityNumberItem" name="query" class="col form-control" type="text" />
                <div class="col-2">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </form>

        @if (string.IsNullOrWhiteSpace(Model.CommunityNumberItem))
        {
            <div class="alert alert-info"> Please enter a community number.</div>
        }
        else if (TheLandsList == null)
        {
            <div class="alert alert-info"> Data for Lands in this Community area number [@Model.CommunityNumberItem] not found.</div>
        }
        else
        {
            <div>
                <br></br>
                <table class="table table-bordered table-hover">
                    <tr id="table-header">
                        <th>Property Status</th>
                        <th>Managing Org</th>
                        <th>Community Area</th>
                        <th>Address</th>
                        <th>ZipCode</th>
                        <th>Area Available</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                    @{
                        int FirstTenLands = 0;
                        foreach (LandData.Lands land in TheLandsList)
                        {
                            FirstTenLands = FirstTenLands + 1;
                            <tr>
                                <td>@land.PropertyStatus</td>
                                <td>@land.ManagingOrganization</td>
                                <td>@land.CommunityAreaName</td>
                                <td>@land.Address</td>
                                <td>@land.ZipCode </td>
                                <td>@land.SqFt </td>
                                <td>@land.Latitude</td>
                                <td>@land.Longitude</td>
                            </tr>
                            if (FirstTenLands == 10)
                            { break; }
                        }
                    }
                </table>
            </div>
        }
    </div>
</div>
